<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <title>BACKEND-TEST-MAIN</title>
    </head>
    <body>
        <div id="introducao_slogan">
            <h1>Jogo de Compartilhamento</h1>
            <h2>Compartilhe o link!</h2>
        </div>
        <div id="link_container">
            <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjVpaCt27vzAhWV2sgKHTttB7oYABADGgJxdQ&ae=2&ohost=www.google.com&cid=CAESQeD20bqsmmrW_h7nsQ0fhyJehdQs8MhFokh2DxStBP6Ds9OUcgYg5ZFfBRAqTlmBAN5LVMJi_qwbhdvtLTiVWpo5&sig=AOD64_1DV1kVXCkAJgixPmtTo7tHWFUAog&q&adurl&ved=2ahUKEwj-opSt27vzAhXCGrkGHbLrCjIQ0Qx6BAgFEAE">Compensação de CO2 - Neutralização de Carbono</a>
        </div>
    </body>
    <script src="../js/scripts.js" type="text/javascript"></script>
</html>